{{ define "main" }}
<section class="tag-page">
  <header class="tag-header">
    <h1>Explorando: "{{ .Title }}"</h1>
    <p>{{ .Description }}</p>
  </header>

  <div class="tagged-content">
    {{ range .Pages.GroupBy "Type" }}
    <section class="content-group">
      <h2>{{ .Key | humanize }}</h2>
      
      <div class="content-grid">
        {{ range .Pages }}
        <article class="content-card">
          <a href="{{ .RelPermalink }}">
            {{ if .Params.featured_image }}
            <img src="{{ .Params.featured_image }}" alt="{{ .Title }}">
            {{ end }}
            <h3>{{ .Title }}</h3>
            <p>{{ .Description }}</p>
          </a>
          
          <div class="meta">
            {{ if .Date }}
            <span class="date">{{ .Date.Format "02/01/2006" }}</span>
            {{ end }}
            
            {{ if .Params.tags }}
            <div class="tags">
              {{ range .Params.tags }}
              <a href="{{ "/etiquetas/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
              {{ end }}
            </div>
            {{ end }}
          </div>
        </article>
        {{ end }}
      </div>
    </section>
    {{ end }}
  </div>
</section>
{{ end }}